.header {
  display: flex;
  align-content: space-around;
}

.content {
  margin-left: 10px;
  font-family: montserat;
  font-size: 1.2em;
}

i {
  font-size: 3em;
  color: aliceblue;
}

.title {
  font-size: 3em;
  color: aliceblue;
  margin-left: 20px;
}
