@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.header {
  display: flex;
  align-content: space-around;
}

.content {
  margin-left: 10px;
  margin-top: 10px;
  /* font-family: montserat; */
  font-size: 1.2em;
  color: black;
}
.mdc-drawer--dismissible {
  top: auto;
}
.navIcon {
  font-size: 1em;
}

.title {
  font-size: 1.75em;
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
}

.icon {
  margin: 5px;
}

.required:after {
  content: "*";
  color: red;
}
