.header {
  display: flex;
  align-content: space-around;
}

.content {
  margin-left: 10px;
  margin-top: 10px;
  font-family: montserat;
  font-size: 1.2em;
}
.mdc-drawer--dismissible {
  top: auto;
}
.navIcon {
  font-size: 2em;
}

.title {
  font-size: 2em;
  margin-left: 20px;
}

.icon {
  margin: 5px;
}
