.png {
  position: relative;
  width: 65%;
  /* background-image: url("home.png"); */
  background-size: cover;
  left: 15vw;
  padding-bottom: calc(100% * 3 / 4);
  transform: scale(0.8);
  overflow: visible;
}

#newPrimary {
  background-color: #45a29e;
  border-color: #45a29e;
}

#newSecondary {
  background-color: #45a29d00;
  border-color: #45a29e;
}

.required:after {
  content: "*";
  color: red;
}
