@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.png {
  position: relative;
  width: 65%;
  background-image: url("home.png");
  background-size: cover;
  left: 15vw;
  padding-bottom: calc(100% * 3 / 4);
  transform: scale(0.8);
  overflow: visible;
}

#newPrimary {
  margin: 10px;
  background-color: #45a29e;
  border-color: #45a29e;
}
#newSecondary {
  background-color: #45a29d00;
  border-color: #45a29e;
}

.required:after {
  content: "*";
  color: red;
}

.app .title {
  margin-top:50px;
  margin-bottom: 50px;
  align-content: center;
  font-size: 5em;
  font-family: "Raleway", sans-serif;
  color: white;
}

.app .tagline {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
