.App {
  color: #c5c6c7;
  font: sans-serif;
  height: 150vh;
  width: 100vw;
  background-color: #1f2833;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    width: 150vw;
    height: 250vh;
  }
}
