.joc {
  margin: 2em;
  width: 300px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.5);
  color: black;
}

.selected {
  position: relative;
  top: 5px;
  left: 150px;
  font-size: 3em;
  color: #45a29e;
  animation-name: checked;
  animation-duration: 0.5s;
  z-index: 2;
}
.divider {
  margin-left: 10px;
}
.arrow_box {
  z-index: 300;
  position: relative;
  background: whitesmoke;
  /* word-break: break-word; */
  width: auto;
  height: auto;
  border: 2px solid #000000;
}

.notSelected {
  position: relative;
  bottom: 30px;
  font-size: 1em;
}

.joc:hover {
  transform: scale(1.05);
}

.joc:active {
  box-shadow: 5px 5px 5px 5px #45a29e;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0%;
  margin: 0;
  max-height: 40px;
}

.chart {
  position: relative;
  top: -30px;
  left: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
/* Standard syntax */
@keyframes checked {
  from {
    top: 30px;
    left: 150px;
  }
  to {
    top: 0px;
    left: 150px;
  }
}
