.array {
  position: relative;
  left: 10vw;
  width: 80vw;
  height: 480px;
  display: flex;
  overflow: hidden;
  overflow: scroll;
  margin-top: 1em;
}
.add {
  position: relative;
  top: 20px;
  margin-left: 0.4em;
  margin-right: 0.15em;
  transform: scale(0.8);
  height: 400px;
}
.add:hover {
  transform: scale(0.85);
  cursor: pointer;
}
