.array {
  position: relative;
  width: 80vw;
  height: 480px;
  display: flex;
  overflow: hidden;
  overflow: scroll;
  margin-top: 2em;
}
/*Attempt at responsiveness. Works well.... For now*/
@media screen and (max-width: 1600px) {
  .array {
    width: 100vw;
  }
}
