/*Need to plan the grid layout better*/
.Dashboard {
  position: absolute;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*Need to properly center the button. Off place when side bar is visible, fine when not*/
.AddJOC {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 10vh;
  height: 80px;
  width: 180px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
.map {
  position: relative;
  left: 10vw;
  height: 40vh;
  width: 80vw;
  color: white;
  font-size: 12vw;
  text-align: center;
}
