@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

.about .pagetitle {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 3em;
}

.about .heading {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 25px;
}

.about p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
}
